<% provide(:title, "About") %>
<h1 class="title">HelloWorld Football Club(HWFC)</h1>


<div class="row">
  <div class="col-lg-2 col-md-1"></div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <img  class="logo img-thumbnail" alt="Logo" src="http://7u2tjq.com1.z0.glb.clouddn.com/default.jpg">
  </div>
  <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9">
     Hello World Football Club（HWFC）成立于2010年9月30日，前身是软件学院院足球队，
     在中东院系杯足球赛中代表软件学院参加比赛，因为HWFC的原因，球队内部亲切的称球队为混碗饭吃（HWFC），
     这代表着我们内部轻松欢乐的俱乐部文化：我们为快乐而踢球，我们因为兄弟而战斗，Brothers All Together。
     HWFC球风飘逸，球队在参加的各项比赛中展现出了良好的精神风貌和团队合作精神。
     球队在2011~2012赛季中东足球超级联赛中获得亚军，并且在之后的院系杯中首度封王，拿下队史第一座冠军，
     同时也是软件学院的第一座足球冠军奖杯。
 </div>
 <div class="col-lg-2 col-md-1"></div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-1"></div>
  <div class="col-lg-8 col-md-10">
<h4>俱乐部第一负责人：HWFC队长</h4>
<h4>俱乐部第二负责人：HWFC领队</h4>


<p>
<h3>俱乐部结构：</h3>
<div class="span4 text-center">
  <% image_tag "球队结构" http://7u2tjq.com1.z0.glb.clouddn.com/球队结构.png %>
</div>
</p>

<p>
1. 软件学院范围内：
HWFC 代表软件学院参加所有学校院级别的比赛。主办方必须以HWFC称呼和对外宣传，不用软件学院名号。
HWFC下的梯队，由各个年级级队组成。
在HWFC参加比赛时，抽调各个软工联表现突出的球员。
每年新一届的XX软工联在新生入学一个月左右组建，组建同时选择暂时负责人负责协助HWFC对XX软工联的管理。
  新的梯队可以自主选定训练时间和内容，由高一级的软工联负责指导。
各梯队队长完全享有自治权，拥有最高级别的权限对各级球队的训练和比赛做出安排。
  各梯队队长同时积极配合HWFC队长进行训练，优秀队员选拔上调一队，管理，比赛等。
</p>

<p>
2.全校范围内：
待建中。需要后来的队员们扩充建设。

软院范围内的HWFC如今拥有四支梯队（08级人数少不成梯队），分别是09软件工程联队（BAT）、
  10软件工程联队、11软件工程联队、12软件工程联队。整个俱乐部从一线队到梯队总计65人左右。
在俱乐部成立的两年来，大力培养新人，不断的参加各种比赛，并取得了好的成绩。
  <ul>
    <li>2011年4月，HWFC为备战东校区院系杯远赴珠海校区与翻院等强院交流学习；</li>
    <li>2011年5月，主要以大一大二球员为主的球队首次参加院系杯便打入八强，给球队增添了不少信心，特别是坚定了大力发展新生球员的决心；</li>
    <li>2011年11月，HWFC在参加第三届大学城联赛中获得四强，为中大参赛队伍最好的成绩，球队实力得到了大学城其他强队的认可。</li>
    <li>2012年5月，以11软工联，10软工联为班底的球员参加第四届大学城联赛。</li>
    <li>2012年6月，HWFC获得中东第七届院系杯冠军。</li>
    <li>2012年6月，HWFC获得第一届中东足球超级联赛亚军。</li>
    <li>2012年11月，HWFC获得中大校庆杯冠军。</li>
    <li>2013年3月，HWFC有22名成员在队长朱剑秋的带领下，前往珠海，与国商、旅院和翻院进行了三场友谊赛，球队的凝聚力也通过这次出征得到提升。</li>
    <li>2013年3月，HWFC与国商在中东假草场争夺超级杯冠军，遗憾落幕，HWFC获得中东第三届超级杯亚军。</li>
  </ul>
于此同时，与大学城著名的华师星火，华工土匪建立了比赛交流的合作关系，定期举行比赛以交流学习，HWFC在广外，广工，广美，广大等学校也得到了认可，常常有球队与HWFC进行友谊赛，不仅提供了梯队球员在HWFC锻炼的机会，也为HWFC在校外的品牌发展创造了条件；
HWFC虽然成立不久但是发展迅速，经过两年多的发展，俱乐部的梯队建设，网络宣传，内部管理，训练比赛都已相当完备，目前新生梯队---12软件工程联队已经茁壮成长，在强力球员如蔡昊天，陈弘桂，李宇晖等的带领下，HWFC定能成为中东未来一颗耀眼的明珠！
HWFC立足软院，放眼中大，作为中大第一支足球俱乐部，HWFC有决心将俱乐部打造成一支传统强队，并且一直发展下去，为更多的足球爱好者提供训练，比赛，参与俱乐部运营，接触更多足球文化的平台，在未来的发展中，我们致力于打造一支能配得上中大的俱乐部球队，我们同样期待HWFC成为中大的一部分，为此，一批批的HWFCers将继续努力！
</p>

<p>
<h3>俱乐部官方社交平台：</h3>
  <ul>
    <li>人人网公共主页：<a href="http://page.renren.com/600994531?q=HWFC%20|p=|s=open|u=282810717&act=name&rt=page&in=0&hh=1">中大HWFC</a></li>
    <li>人人网中大内部宣传平台：<a href="http://www.renren.com/343726898">软院HWFC</a></li>
    <li>新浪微博：<a href="http://weibo.com/u/2263212780#1336403858991">@HelloWorld_FC_混碗饭吃</a></li></li>
    <li>微信:hello-world_fc</li>
  </ul>
</p>

<h3>俱乐部资料：</h3>
<p>俱乐部成立日期 2010.09.30</p>
<p>俱乐部全称：Hello World Football Club</p>
<p>俱乐部简称：HWFC(混碗饭吃)</p>
<p>俱乐部第一批新招纳球员：12软工联</p>
<p>俱乐部创始人：李元博，陈文特</p>
<p>球队比赛服装：
<ul>
  <li>白色为主场颜色。</li>
  <li>客场颜色可以更换</li>
</ul>
</p>
<p>历年比赛服装：
<ul>
  <li>2010~2012 皇马白色</li>
  <li>2011~2012 蓝色训练服装</li>
  <li>2012~2012 桑托斯黑白间条</li>
  <li>2012~2013 白色训练服</li>
</ul>
</p>
<p>历任队长和领队
<ul>
  <li>2010.09~2012.04 队长：李元博 领队：陈文特</li>
  <li>2011.10~2011.11 队长、领队：刘睿</li>
  <li>2012.05~09 队长：张宏 领队：朱剑秋</li>
  <li>2012.09~ 队长：朱剑秋 领队：陈思翰</li>
</ul>
</p>
  </div>
  <div class="col-lg-2 col-md-1"></div>
</div>