<h1>Listing users</h1>


<% if @users.any? %>
    <div class="col-md-offset-0">
      <h3>Users (<%= @users.count %>)</h3>
    </div>

    <div class="row">
      <%= render @users %>
    </div>
    <%= will_paginate @users %>
<% end %>
