<div class="member col-md-4 col-sm-6">
    <div class="ih-item square effect13 top_to_bottom"><%= link_to(member) do %>
    <div class="img"><%= image_tag member.avatar ? member.avatar : "http://7u2tjq.com1.z0.glb.clouddn.com/default.jpg" %></div>
    <div class="info">
      <h3><%= member.name %></h3>
      <p><%= member.position %></p>
    </div><% end %></div>
</div>