<h1>Listing members</h1>

<% if @members.any? %>
  <h3>Members (<%= @members.count %>)</h3>
    <div class="row">
      <%= render @members %>
    </div>
  <%= will_paginate @members %>
<% end %>
<br>

<% if is_admin? %>
  <%= link_to 'New Member', new_member_path %>
<% end %>

